.backdrop {
    z-index:16;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);

    .PopUp{
        position:fixed;
        top:35vh;
        left:35vw;
        width:30vw;
        height:30vh;
        background-color:#445A67;
        /* background-color:#33444d; */
        z-index:17;

        display:flex;
        justify-content:center;
        align-items:center;

        .closeBTN {
            position:absolute;
            top:13px;
            right:13px;
            border:0;
            background-color:#445A67;
            color:#F6F7F8;
            font-weight:bold;
        }
        .closeBTN:hover {
            background-color:#33444d;
        }

        .inner {
            position:absolute;
            z-index:18;
            padding-top:1%;
            bottom:0px;
            width:100%;
            background-color:#57838D;
            /* background-color:#41626a; */
            color:#F6F7F8;
            height:85%;
            text-align:center;
            font-family:'Trebuchet MS';
            
            h3 {
                margin-top:3%;
                font-size:150%;
            }
            
            ul {
                margin-top:5%;
                line-height:150%;
                p {
                    a {
                        color:#F6F7F8;
                    }
                }
            }
        }
    }
}