* {
  scrollbar-width:none;
}
.header {
  margin-top:0%;
  background-color: #445A67;
  color: #F6F7F8;
  text-align: center;
  height:5vh;
  .LOGO{
      width:4vw;
  }
  .btnList{
    float:right;
    text-align:right;
    .button {
      background-color:#445A67;
      color: #F6F7F8;
      width:10vw;
      right:0;
      height:5vh;
      border:0;
      font-family:'Trebuchet MS';
      font-weight:bold;
      font-size:120%;
    }
    .button:hover {
      background-color: #B4C9C7;
      color: #445A67;
    }
  }
}

.contactMe{
  position:absolute;
  height:50vh;
  width:50vw;
  background-color:#57838D;
}

.headshot {
  width:50vw;
  max-height:95vh;
  /* overflow:hidden; */
  float:left;

  div {
    margin:2%;
    height: 90vh;
  }
  img{
    height:auto;
    width:100%
  }
}

.aboutME {
  position:absolute;
  left:50%;
  font-family:'Trebuchet MS';
  width:50vw;

  .headerOne {
    color:#445A67;
    font-weight:bold;
    margin-top:1vh;
    font-size:700%;
    transform:scale(.4,1);
  }
  p {
    text-align:center;
    vertical-align:middle;
    margin-left:1vw; 
    margin-right:1vw;
    font-size:130%;
  }

  .curWork {
    background-color:#FFE4C9;
    position:absolute;
    color:black;
    bottom: -65vh;
    right:2.5vw;
    width:45vw;

    h1 {
      padding-top:1vw;
    }

    .box {
      margin-left:2%;
      display:grid;
      grid-template-columns: 32.5% 32.5% 32.5%;

      .imageBox {
        background-color:#F6F7F8;
        padding:2.5%;

        img {
          height:100%;
          width:100%;
        }
      }
      
    }

    button {
      background-color:#E3BFB7;
      border:0;
      font-family:'Trebuchet MS';
      font-weight:bold;
      font-size:120%;
      margin-top:5%;
      margin-bottom:5%;
      width:100%;
      padding:0.5vw;
    }
    button:hover {
      background-color:#C29BA3;
    }
  }
}

.interesth1 {
  text-align:center;
  font-family:'Trebuchet MS';
}

.photoBorders {
  padding-top:1vh;
  padding-left:0.25vw;
  background-color:#445A67;
  display:grid;
  grid-template-columns:repeat(auto-fit, 24vw);
  grid-template-rows:auto;
  gap: 1vw;

  .portrait{
    inline-size:100%;
    block-size:100%;
    grid-row:auto / span 2;
  }
  .landscape{
    inline-size:100%;
    block-size:100%;
    grid-row:auto;
  }
}

.project{
  background-color: #F6F7F8;

  h1 {
    text-align:center;
    font-family:'Trebuchet MS';
  }


  .projectGrid{
    padding:0%;
    padding-top:1%;
    margin-left:9%;
    margin-right:9%;
    display:grid;
    grid-template-columns:40vw 40vw;
    grid-template-rows:auto;

    .gridBox {
      size:100%;
    }

    .gridBox:hover {
      transform:scale(1.2);
      z-index:15;
    }

    .slider {
      position:relative;
      margin-left:1%;
      margin-top:1%;
      margin-bottom:1%;
      width:98%;
    }
  }
}