.header {
  margin-top:0%;
  background-color: #445A67;
  color: #F6F7F8;
  text-align: center;
  height:3vw;
  .LOGO{
      width:4vw;
  }
  .btnList{
    float:right;
    text-align:right;
    .button {
      background-color:#445A67;
      color: #F6F7F8;
      width:10vw;
      right:0;
      height:3vw;
      border:0;
      font-family:'Trebuchet MS';
      font-weight:bold;
      font-size:120%;
    }
    .button:hover {
      background-color: #B4C9C7;
      color: #445A67;
    }
  }
}

.contactMe{
  position:absolute;
  height:50vh;
  width:50vw;
  background-color:#57838D;
}

.headshot {
  width:50vw;
  max-height:49.1vw;
  overflow:hidden;
  float:left;
}

.aboutME {
  position:absolute;
  left:50%;
  font-family:'Trebuchet MS';
  width:50vw;
  .headerOne {
    color:#445A67;
    font-weight:bold;
    margin-top:0.5vw;
    font-size:200%;
  }
  p {
    margin-left:1vw;
    font-size:130%;
  }

  .curWork {
    background-color:#FFE4C9;
    color:black;
    bottom:0;
    position:fixed;
    bottom:0;
    height:50vh;
    margin-top:0;
    vertical-align:center;
    h1 {
      padding-top:1vw;
    }
    li {
      list-style-type:none;
      display:flex;
      margin-left:1vw;
      margin-bottom:2.5vw;
      img {
        height:auto;
        width:16vw;
      }
    }
    .button {
      background-color:#E3BFB7;
      border:0;
      font-family:'Trebuchet MS';
      font-weight:bold;
      font-size:120%;
      padding:0.5vw;
      transform: translateX(23vw);
    }
    .button:hover {
      background-color:#C29BA3;
    }
  }
}
